<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AutoTrackingLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.diagnostics>
    <switches>
      <add name="ConnectionPoolPerformanceCounterDetail"
           value="4"/>
    </switches>
  </system.diagnostics>

  <applicationSettings>
    <AutoTrackingLogic.Properties.Settings>
      <setting name="UdpPort" serializeAs="String">
        <value>11000</value>
      </setting>
      <setting name="SavePackets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PacketsFile" serializeAs="String">
        <value>packets.txt</value>
      </setting>
      <setting name="MinPacketLength" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxPacketLength" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ThreadsCount" serializeAs="String">
        <value>500</value>
      </setting>
    </AutoTrackingLogic.Properties.Settings>
  </applicationSettings>
</configuration>